@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
 html,
 body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
 }
 /* Tabs */
 .makeStyles-root-1 {
  @apply w-full max-w-full bg-header;
 }
 .MuiTab-wrapper {
  color: #fff;
 }
 .MuiTabs-scroller.MuiTabs-fixed {
  background: #075e54;
 }
 .MuiSvgIcon-root {
  color: #fff !important;
  @apply outline-none;
 }
 /* Tabs */
 ..MuiPaper-elevation4 {
  box-shadow: 0px 0px 0px 0px;
 }

 /* Chat Groups */
 /* Chat Groups */

 .chatGroup {
  @apply active:bg-gray-300  px-3 h-20 relative  py-6 rounded-t-sm   flex justify-between items-center;
 }

 .chatGroup::before {
  content: '';
  height: 1px;
  @apply absolute  w-10/12 bg-gray-200 top-0 right-4;
 }

 .MuiBox-root,
 .MuiBox-root-7 {
  padding: 0 !important;
 }

 /* Conversation */

 .conversation {
  height: 100vh;
  position: relative;
  background: #efe7dd
   url('https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg')
   repeat;

  z-index: 0;
 }

 .conversation ::-webkit-scrollbar {
  transition: all 0.5s;
  width: 5px;
  height: 1px;
  z-index: 10;
 }

 .conversation ::-webkit-scrollbar-track {
  background: transparent;
 }

 .conversation ::-webkit-scrollbar-thumb {
  background: #b3ada7;
 }

 .conversation .conversation-container {
  height: calc(100% - 68px);
  box-shadow: inset 0 10px 10px -10px #000000;
  overflow-x: hidden;
  margin-bottom: 5px;
 }

 .conversation .conversation-container:after {
  content: '';
  display: table;
  clear: both;
 }

 /* Messages */

 .message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  max-width: 80%;
  word-wrap: break-word;
  z-index: -1;
 }

 .message:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
 }
 input[type='file'] {
  display: none;
 }
 .metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
 }

 .metadata .time {
  color: rgba(0, 0, 0, 0.45);
  font-size: 11px;
  display: inline-block;
 }

 .metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
 }

 .metadata .tick svg {
  position: absolute;
  transition: 0.5s ease-in-out;
 }

 .metadata .tick svg:first-child {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg);
 }

 .metadata .tick svg:last-child {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
  transform: perspective(800px) rotateY(0deg);
 }

 .metadata .tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
  transform: perspective(800px) rotateY(0);
 }

 .metadata .tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
  transform: perspective(800px) rotateY(-179.9deg);
 }

 .message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
 }

 .message.received .metadata {
  padding: 0 0 0 16px;
 }

 .message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
 }

 .message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
 }

 .message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
 }

 /* Compose */

 .conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 2;
 }

 .conversation-compose div,
 .conversation-compose input {
  background: #fff;
  height: 100%;
 }

 .conversation-compose .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 0 0 5px;
  flex: 0 0 auto;
  margin-left: 8px;
  width: 48px;
 }

 .conversation-compose .input-msg {
  border: 0;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  outline: none;
  min-width: 50px;
 }

 .conversation-compose .photo {
  flex: 0 0 auto;
  border-radius: 0 0 5px 0;
  text-align: center;
  position: relative;
  width: 48px;
 }

 .conversation-compose .photo:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  top: 0;
  right: -10px;
 }

 .conversation-compose .photo i {
  display: block;
  color: #7d8488;
  font-size: 24px;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
 }

 .conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
 }

 .conversation-compose .send .circle {
  background: #008a7c;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .conversation-compose .send .circle i {
  font-size: 24px;
  margin-left: 5px;
 }

 /* Small Screens */
 .chat-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  position: relative;
  cursor: pointer;
 }
 .chat-footer textarea {
  display: block;
  flex: 1;
  width: 100%;
  border-radius: 60px;
  padding: 10px;
  outline: none;
  font-size: 19px;
  padding-left: 40px;
  padding-right: 40px;
  resize: none;
 }

 /*-- Input Area --*/
 .input-area {
  width: 100%;
  height: 40px;
  display: flex;
  color: #ccc;
  padding: 0 10px;
 }

 .input-area .input {
  flex-basis: 93%;
  background: #fff;
  height: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
 }

 .input-area .input .smiley {
  flex-basis: 3%;
 }

 .input-area .input .smiley i,
 .input-area .input .attachment i,
 .input-area .input .camera i {
  padding: 6px;
  color: #5b6870;
  margin-top: 5px;
  font-size: 18px;
 }

 .input-area .input .text-input {
  flex-basis: 89%;
 }

 .input-area .input .attachment {
  flex-basis: 3%;
 }

 .input-area .input .camera {
  flex-basis: 3%;
 }

 .input-area .input .text-input textarea {
  width: 100%;
  background: #fff;
  height: 30px;
  border: 1px solid #fff;
  resize: none;
  font-size: 18px;
  margin-top: 9px;
  vertical-align: center;
  color: #5b6870;
 }

 .input-area .mic-button button {
  background: #00796a;
  color: #fff;
  border: none;
  font-size: 18px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
 }
 .jss1 {
  width: 100% !important;
  max-width: 100% !important;
 }

 .makeStyles-root-1,
 .MuiTabs-root {
  width: 100% !important;
  max-width: 100%;
 }
}
.MuiAvatar-root {
    width: 3.5rem !important;
    height: 3.5rem !important;

}
.tabs-component div[role='tablist'] {
 @apply bg-header flex justify-between px-6 h-14 mb-4 text-white text-base  outline-none focus:outline-none;
}
.tabs-component div[role='tablist'] button.active {
 @apply relative  outline-none focus:outline-none text-white;
}
.tabs-component div[role='tablist'] button.active::after {
 content: '';
}
.tabs-component div[role='tablist'] button {
 @apply outline-none focus:outline-none text-gray-400 text-base uppercase;
}
